/* You can add global styles to this file, and also import other style files */

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul{
  list-style: none;
}
a{
  text-decoration: none;
  &:visited{
    color: inherit;
  }
}

body{
  font-family: "Inter", sans-serif;
  margin: 0 auto;
  background-color: #e3e3d0;
}
